# Credenciales IGDB - Se obtienen en https://dev.twitch.tv/
IGDB_CLIENT_ID=aaAAAaaaaaaAAaaaAA1234
IGDB_CLIENT_SECRET=aAAAaAaaAA1234

# URL base de la aplicación
NEXT_PUBLIC_BASE_URL=http://localhost:3000
